* {
    box-sizing: border-box;
}

body {
    background: ;
    margin: 0;
    font-family: 'Overpass', sans-serif;
    font-weight: 300;
    line-height: 1.5;
    font-size: 1rem;
    color: hsl(217, 12%, 63%);



}


/* =================
typography
================= */
h1,
p {
    margin: 0;
}

h1 {
    font-weight: 700;
    color: hsl(0, 0%, 100%);

}


button {
    display: inline-block;
    font-weight: 800;

}

/* =================
layout
================= */




.container {
    border: none;
    border-radius: 20px;
    width: 390px;
    background-image: linear-gradient(to top,hsl(216, 12%, 8%),hsl(213, 19%, 18%) );
    display: flex;
    flex-direction: column;
    margin: 100px auto;
    max-width: 515px;
    padding: 2em;

}

.star-image {
    background-color: hsl(213, 19%, 18%);
    padding: 10px;
    border-radius: 20px;
    margin-bottom: 0;
}

.rate {
    margin-bottom: 1em;
    display: flex;
    justify-content: center;
    gap: 30px;
    padding: 10px 0;

}



/* =================
form
================= */

.form-btn {
    margin-bottom: 1em;
}

/* =================
buttons
================= */
.btn {
    color: hsl(217, 12%, 63%);
    cursor: pointer;
    border: none;
}

.btn-rate {
    /* margin-right: 20px; */
    margin: 0;
    padding: 0;
    border-radius: 50%;
    height: 40px;
    width: 40px;
    font-weight: 400;
    background: hsl(213, 19%, 18%);

}


.btn-form-primary {
    padding: 15px 130px;
    border-radius: 30px;
    text-transform: uppercase;
    letter-spacing: 2px;
    color: hsl(0, 0%, 100%);
    background: hsl(25, 97%, 53%);

}

.attribution {
    font-size: 11px;
    text-align: center;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}