body {
    background: hsl(216, 12%, 8%);
    margin: 0;
    line-height: 1.5;
    font-size: 1rem;

}


/* =================
typography
================= */
h1 {

}

/* =================
layout
================= */


.container {
    width: 100%;
    background: hsl(213, 19%, 18%);
    display: flex;
    flex-direction: column;
    margin: 100px auto;
    max-width: 515px;

}

.rate {

}

.attribution {
    font-size: 11px;
    text-align: center;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}