* {
    box-sizing: border-box;
}

body {
    background: hsl(216, 12%, 8%);
    margin: 0;
    font-family: 'Overpass', sans-serif;
    font-weight: 300;
    line-height: 1.5;
    font-size: 1rem;
    color: hsl(217, 12%, 63%);

}


/* =================
typography
================= */
h1,
p {
    margin: 0;
}

h1 {
    font-weight: 700;
    color: hsl(0, 0%, 100%);

}

p {
    margin-bottom: 2em;
}


button {
    display: inline-block;
    font-weight: 800;

}

/* =================
layout
================= */

.container {
    width: 100%;
    max-width: 390px;
    border-radius: 30px;
    /* background: hsl(213, 19%, 18%); */
    background-image: linear-gradient(to top,hsl(216, 12%, 11%), hsl(213, 19%, 18%));
    display: flex;
    flex-direction: column;
    margin: 90px auto;
    padding: 1.3em;

}

.rate-desc {
    /* margin-bottom: 2em; */
    padding: 10px;
    padding-bottom: 0;

}

.star-image {
    max-width: fit-content;
    background-color: hsl(213, 19%, 24%);
    padding: 10px;
    border-radius: 20px;
    margin-bottom: 0;
}

.rate {
    width: 100%;
    margin-bottom: 1em;
    display: flex;
    justify-content: center;
    gap: 25px;
    padding: 10px 0;
    margin-left: 0;

}

/* =================
form
================= */

.form-btn {
    margin-bottom: 1em;

}

/* =================
buttons
================= */
.btn {
    color: hsl(217, 12%, 63%);
    cursor: pointer;
    border: none;
}

.btn-rate {
    margin: 0;
    padding: 0;
    border: none;
    border-radius: 50%;
    height: 45px;
    width: 45px;
    font-weight: 800;
    background: hsl(213, 19%, 24%);
    
    transition: background-color 250ms;

}

.btn-rate:hover {
    background-color: hsl(217, 12%, 63%);
    color: hsl(0, 0%, 100%);

}

.btn-rate:focus {
    background: hsl(25, 97%, 53%);
    color: hsl(0, 0%, 100%);
}

.btn-form-primary {
    width: 100%;
    padding: 15px 30px;
    border-radius: 30px;
    text-transform: uppercase;
    letter-spacing: 2px;
    color: hsl(0, 0%, 100%);
    background: hsl(25, 97%, 53%);
    transition: background-color 250ms;

}

.btn-form-primary:hover,
.btn-form-primary:focus {
    color: hsl(25, 97%, 53%);
    background-color: hsl(0, 0%, 100%);
}

.attribution {
    font-size: 11px;
    text-align: center;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}

/* =================
    media Query
=================  */

@media (min-width: 675px) {

    .container {

        max-width: 450px;
    }

    .rate-desc {
        border: 1px solid gold;
        display: flex;
        flex-direction: column;
    }

    .rate {
        justify-content: space-between;
        gap: 20;
     
    }

    .btn-form-primary {
        padding: 15px 20px;
         
        
    }

}